<!DOCTYPE html>
<html ng-app="app" ng-csp>

<head>
  <title>Panel for LIFX</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1.0">
  <link rel="stylesheet" href="../vendor/bower_components/angular-material/angular-material.css">
  <link rel="stylesheet" href="../build/main.css">
</head>

<body>

<div ui-view="screen" ng-controller="IndexController as index">

  <div layout="row" flex>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span>Panel for LIFX</span>
        <!-- fill up the space between left and right area -->
        <span flex></span>
        <md-button>
          <a ui-sref="dashboard">Dashboard</a>
        </md-button>
      </div>
    </md-toolbar>
  </div>

  <div flex layout="row">

    <!--&lt;!&ndash; Container #3 Left &ndash;&gt;-->
    <!--<md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="md-sidenav-left md-whiteframe-z2">-->
      <!--wert-->
    <!--</md-sidenav>-->

    <md-content class="screen" flex>
      <div ui-view="partial"></div>
    </md-content>
  </div>
</div>

<!-- js libs -->
<script type="text/javascript" src="../vendor/bower_components/angular/angular.js"></script>
<script type="text/javascript" src="../vendor/bower_components/angular-animate/angular-animate.js"></script>
<script type="text/javascript" src="../vendor/bower_components/angular-aria/angular-aria.js"></script>
<script type="text/javascript" src="../vendor/bower_components/angular-material/angular-material.js"></script>
<script type="text/javascript" src="../vendor/bower_components/angular-ui-router/release/angular-ui-router.js"></script>

<!-- js -->
<script type="text/javascript" src="../js/env.js"></script>
<script type="text/javascript" src="../js/build.js"></script>
<script type="text/javascript" src="../js/app.module.js"></script>
<script type="text/javascript" src="../js/controllers/index.controller.js"></script>
<script type="text/javascript" src="../js/controllers/dashboard.controller.js"></script>
<script type="text/javascript" src="../js/services/lifx.service.js"></script>
<script type="text/javascript" src="../js/services/angular-chrome-storage.js"></script>
</body>

</html>
